# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environment
venv/
env/
.venv/
.env/

# PyCharm
.idea/

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints/

# Logs and coverage
*.log
.coverage
htmlcov/
.tox/
nosetests.xml
coverage.xml
*.cover

# System files
.DS_Store
Thumbs.db